<!doctype html>

<html>
	<head>
		<title>Image Repository</title>
   		<meta charset=utf-8>
	</head>
    <body>
        
		<br>
		<br>
		<h1>Image Repository</h1>
    	
		
		<br>
		<br>
		<br>
		<b>Click below to compress more images and add them to the database.</b>
		<br>
		<form action="/addImage/">
            <input type="submit" value="Add" />
        </form>
        <br>
        <b>Click below to delete an image from the database.</b>
        <form action="/deleteImage/">
            <input type="submit" value="Delete" />
        </form>
        <br>
        <b>Click below to download a .zip file of the compressed images.</b>
         <form method="POST" action="">
            <input type="submit" value="Recover" />
        </form>

        
        
		<br>
		<br>
		<br>
		
    

    </body>
 </html>